/* ============================
		MEDIA QUERYS VALUES
===============================*/

$screen-sm-min: 320px;
$screen-sm-max: 480px;
$screen-mid-min: 768px;
$screen-mid-max: 992px;
$screen-lg-max: 1200px;
